body {
  margin: 0;
}

:root {
  --bg-blue: #93b5c9;
  --bg-wine: #ab2849;
}

.blue-bar {
  width: 100%;
  height: 100px;
  background-color: var(--bg-blue);
}

.red-bar {
  width: 100%;
  height: 200px;
  background-color: var(--bg-wine);
  margin-bottom: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.red-bar-1,
.red-bar-4 {
  background-color: var(--bg-wine);
  width: 30%;
  height: 100px;
  margin-bottom: 20px;
}

.row-container {
  width: 30%;
  display: flex;
  gap: 5px;
}

.red-bar-2,
.red-bar-3 {
  flex: 1;
  height: 100px;
  background-color: var(--bg-wine);
  margin-bottom: 20px;
}

.red-bar-5,
.red-bar-6 {
  flex: 1;
  height: 100px;
  background-color: var(--bg-wine);
  margin-bottom: 50px;
}

.red-bar-7 {
  height: 80px;
  background-color: var(--bg-wine);
}
